network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
  bridges:
    br0:
      addresses:
        - {{ static_address }}/{{ ip_prefix }}
      interfaces:
        - eth0
      gateway4: {{ gateway_address }}
      nameservers:
        addresses: {{ dns.nameservers }}
        search: {{ dns.search }}
